body {
    background-color: rgb(18, 18, 19);
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

h1 {
    text-align: center;
    color: beige;
}

p {
    text-align: center;
}

.voltar {
    display: flex;
    justify-content: center;
}

.completo {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;

}
